<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.geoloqi.android2"
      android:versionCode="11160"
      android:versionName="11.160">
    <application android:icon="@drawable/ic_launcher_geoloqi" 	
    		android:label="@string/app_name" 
    		android:debuggable="false">
        <activity android:name="com.geoloqi.ui.Geoloqi"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.geoloqi.ui.GeoloqiSharing"
                  android:label="@string/sharing">
        </activity>
        <activity android:name="com.geoloqi.ui.GeoloqiLayerCatalog"
                  android:label="@string/layerCatalog">
        </activity>
        <activity android:name="com.geoloqi.GeoloqiPreferences"
                  android:label="@string/preferences">
        </activity>
		<service android:enabled="true" android:name="com.geoloqi.service.GeoloqiService" android:process=":lqRemote" />
    </application>
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

</manifest> 